@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


body {
    padding: 0;
    margin: 0;
    font-family: 'DM Mono', monospace;
}

.navbar-brand {
    font-family: 'DM Mono', monospace;
    font-size: 35px;
    color: #f63;
}

.nav-link {
    font-size: 1rem;
    margin: 1rem;
    color: #303030 !important;
    font-family: 'DM Mono', monospace;
}

.nav-link:hover{
    color: #f63 !important;
}

.active .nav-link {
    color: #f63;
}

.menu-right-btn {
    padding: 13px 46px;
    margin-right: 4%;
    background-color: transparent;
    transition: all 3000ms ease-in;
}

.menu-right-btn:hover {
    color: #fff;
    background-color: #f63;
}

/* Main section */

.site-content {
    background-image: url('../img/marija-zaric-JgYVtd9OLN8-unsplash.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.site-title, 
.site-desc {
    color: #fff;
    font-family: 'Dancing Script', cursive;
}

.site-title {
    margin-top: 30%;
    margin-bottom: 6%;
    font-size: 50px;
}

.site-desc {
    font-size: 14px;
    padding-left: 15%;
}

.site-btn1 {
    margin-left: 20%;
    background-color: #3030;
    color: #fff;

}

.site-btn2 {
    background-color: #fff;
}

 .site-btn1,
 .site-btn2 {
     margin-top: 5%;
     margin-bottom: 40%;
 }


 /* Section-1 */

 .section-1 .heading-1 {
     margin-top: 8%;
 }

 .section-1 .heading-2 {
     margin-bottom: 5%;
     font-size:39px;
 }

 .section-1 .para-1 {
     width: 60%;
     margin-left: 20%;
     margin-bottom: 5%;
 }

 .section-1 .card-text,
 .para-1 {
     color: rgba(0, 0, 0, 0.59);
 }

 .section-1 {
     margin-bottom: 8%;
 }

 /* section 2 */


.section-2 .container-fluid {
    background-image: url('../img/sec2.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.section-2 .heading-1 {
    margin-top: 20%;
    margin-bottom: 4%;
    font-family: 'Dancing Script', cursive;
    width: 80%;
    color: #f63;
}

.section-2 .para {
    width: 80%;
    font-family: monospace;
    color: #fff;
    margin-bottom: 7%;
}

.section-2 .btn {
    margin-bottom: 15%;
    width: 30%;
    padding: 2% 5%;
}

/* section 3 */
.section-3 {
    margin-top: 6%;
}

.section-3 i{
    color: #f63;
}

.section-3 p{
color: rgba(0, 0, 0, 0.59);
}


/* Section 4 */

.section-4 {
    margin-top: 8%;
}

.section-4 
.row 
.col-md-7,
.col-md-5 {
    margin-top: 10%;
    margin-bottom: 10%;
}

.section-4 a {
    color: #f63;
    font-size: 40px;
    text-decoration: none;
}

.section-4 .para-1 {
    color: #fff;
    margin-top: 7%;
    font-size: 16px;
}

.social i {
    font-size: 20px;
}

